/* 공통선택자 common.css */
#wrap {}
#wrap * {transition:all 0.5s;}
#wrap .container {
    min-width:320px;
    background-size:cover; background-position:center;
    padding:70px 15px;
}
#wrap .video_bg {text-align:center;}
#wrap .humanity {text-align:center;}
#wrap .reduction_bg {}
#wrap .crisis_bg {}
#wrap .container .contents {max-width:1250px; margin:0 auto;}
#wrap .container .contents h1 {font-size:1.38rem; font-weight:500; line-height:1.2; margin:0 0 40px;}
#wrap .container .contents h1 .highlight {background-color:#fff; color:#050505; font-weight:500;}
#wrap .container .contents h1+p {font-size:0.81rem; font-weight:500; font-weight:1.7; margin:0 0 22px;}
#wrap .container .contents p {}
#wrap .container .contents span {}
/* 모바일디자인 -by.sponsor_btn */
#wrap .container .sponsor_btn {
    width:164px; height:41px;
    display:block;
    border-radius:37.5px;
    background:linear-gradient(90deg, #FE9300,#FF7300);
    display:flex; flex-flow:row nowrap;
    justify-content:center; align-items:center; gap:10px;
}
#wrap .container .sponsor_btn em {color: #fff; font-weight:500;}
#wrap .container .sponsor_btn::after {
    content:'>';/* 글자로 ">" 표현 */ display: block;
    color:#fff;
    font-size:0.75rem;
}
#wrap .container .sponsor_btn:hover {
    animation:x4 0.4s linear alternate infinite;
    font-weight:600;
}
@keyframes x4 {
    0% {transform:translateX(0);}
    100% {transform:translateX(4px);}
}
/* 2행퀴즈 버튼(공통X) */
#wrap .quiz_bg .quiz .quiz_list #quiz_frm #answercheck_btn:hover{
    animation:x4_2 0.4s linear alternate infinite;
    background:linear-gradient(90deg, #FE9300,#FF7300);
}
@keyframes x4_2 {
    0% {transform:translateX(0);}
    100% {transform:translateX(4px);}
}
/* #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li label:hover::after {
    content:''; display:block; position:absolute; left:0; bottom:175px;
    width:100%; height:2px; background:#FE9300;} */
#wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li label:hover {color:#FE9300;}

/* "sponsor_btn"
#wrap {}
#wrap .captioner {}
#wrap .captioner .sponsor_btn {
    width:164px; height:41px;
    border-radius:37.5px;
    background:linear-gradient(90deg, #FE9300,#FF7300);}
#wrap .captioner .sponsor_btn::after {
    content:'>'; display: block;
    color:#fff;}
#wrap .captioner .sponsor_btn em {margin:10px; color: #fff;}
*/