/* 반응형조건 responsive */
/* m(320~) -> t(1024~) -> d(1250~) */
@media screen and (min-width:580px) {
    /* ===== 2행퀴즈 */
    #wrap .quiz_bg .quiz {
        flex-flow:row nowrap; /* t,d column -> row */
    }
    #wrap .quiz_bg .quiz > * {flex:1;}
    /* ===== 9행퀴즈 */
    #wrap .gift_bg .gift .details li .photo img {transform:translateY(-170px)}
}
@media screen and (min-width:860px) {
    #wrap .intro {
        padding:300px 0 100px;}
    /* ============3~6행 공통 */
    #wrap .container {padding:200px 80px;}
    #wrap .container .contents h1 {font-size:2.5rem; margin:0 0 40px;}
    #wrap .container .contents h1+p {font-size:1.38rem;}
    /* ============3행 */
    #wrap .video_bg .video h1 {margin:0 0 70px;}
    #wrap .video_bg .video iframe {height:484px; width:100%;}
    /* ============5행 */
    #wrap .humanity_bg .humanity .list {flex-flow:row nowrap;}
    #wrap .humanity_bg .humanity .list li {flex:1;}
    #wrap .humanity_bg .humanity .list li dl dt {font-size:2.69rem;}
    #wrap .humanity_bg .humanity .list li .txt {height:250px;}
    #wrap .humanity_bg .humanity .list li .txt p {font-size:1rem;}
    /* ===== 9행 */
    #wrap .gift_bg .gift .title {flex-flow:row nowrap; justify-content:space-between; align-items:flex-end;}
    #wrap .gift_bg .gift .details {
    grid-template-areas:
        'sponser2 sponser3'
        'sponser5 sponser5';
    grid-template-columns:1fr 1fr;
    }
    #wrap .gift_bg .gift .details li .photo img {transform:translateY(-70px)}
    #wrap .gift_bg .gift .txt {text-align:right;}
} /* 860~1023 */
@media screen and (min-width:1024px) {
    #wrap .intro {padding:410px 0 100px;}
    #wrap .intor .logo {width:32px; top:30px; left:36px;}
    #wrap .intor h1 {margin:0 0 100px;}
    #wrap .intor h1 span {font-size:3.13rem; font-weight:600;}
    #wrap .intor .sponsor_btn {width:238px; height:60px;}
    #wrap .intor .sponsor_btn em {font-size:1.38rem;}
    #wrap .intor .sponsor_btn::after {font-size:1rem;}
    /* ===== 2행 퀴즈 */
    #wrap .quiz_bg .quiz .quiz_list {width:400px;}
    #wrap .quiz_bg .quiz .quiz_list h1 {font-size:2.5rem;}
    #wrap .quiz_bg .quiz .quiz_list h2 {font-size:1.25rem}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li {font-size:1.25rem; background-size:28px;}
    #wrap .quiz_bg .quiz .quiz_status p {font-size:1.25rem}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li input {font-size:1.25rem}
    /* ===== 8행 */
    #wrap .activty_bg .activty .details {
        grid-template-areas:
        'public nature'
        'corporation nature';
    grid-template-columns:1fr 1fr;
    }
    #wrap .activty_bg .activty .details li {position:relative; padding-bottom:31px; }
    #wrap .activty_bg .activty .details li .txt {width:50%;} 
    #wrap .activty_bg .activty .details li:nth-child(3) .txt {position:absolute; left:0; bottom:30px;}
    /* ===== 9행 */
    #wrap .gift_bg .gift .title h1 {font: size 2.5rem;}
    #wrap .gift_bg .gift .details li .photo img {transform:translateY(-120px)}
    /* ===== 10행 */
    #wrap .bottom {padding:100px 80px;}
}/* 1024~ */
@media screen and (min-width:1250px) {
    #wrap .intro {padding:447px 0 100px;}
    #wrap .intor .logo {width:42px; top:53px; left:61px;}
    #wrap .intor h1 span {font-size:4.38rem;}
    #wrap .intor h1 span:nth-child(1) {font-weight:400;}
    #wrap .intor h1 span:nth-child(2) {font-weight:800;}
    #wrap .intor .sponsor_btn {width:409px; height:71px;}
    #wrap .intor .sponsor_btn em {font-size:2.31rem;}
    #wrap .intor .sponsor_btn::after {font-size:2rem;}
    /* ===== 2행퀴즈 */
    #wrap .quiz_bg .quiz .quiz_list h1 {font-size:3.44rem; font-weight:700;}
    #wrap .quiz_bg .quiz .quiz_list h2 {font-size:1.25rem}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li {font-size:1.25rem; background-size:28px;}
    #wrap .quiz_bg .quiz .quiz_status p {font-size:1.25rem}
    #wrap .quiz_bg .quiz .quiz_list #quiz_frm ul li input {font-size:1.25rem}
        /* ============3~6행 공통 */
    #wrap .container {padding:200px 0;}
    #wrap .container .contents h1 {font-size:3.44rem; margin:0 0 40px;}
    #wrap .container .contents h1+p {font-size:2.13rem;}
    /* ============3행 */
    #wrap .video_bg .video h1 {margin:0 0 70px;}
    #wrap .video_bg .video iframe {height:484px; width:100%;}
    /* ============5행 */
    #wrap .humanity_bg .humanity .list {flex-flow:row nowrap;}
    #wrap .humanity_bg .humanity .list li {flex:1;}
    #wrap .humanity_bg .humanity .list li dl dt {font-size:2.69rem;}
    #wrap .humanity_bg .humanity .list li .txt {height:250px;}
    #wrap .humanity_bg .humanity .list li .txt p {font-size:1.25rem;}
    /* ============9행 */
    #wrap .gift_bg .gift .details {
    grid-template-areas:
    'sponser2 sponser3 sponser5';
    grid-template-columns:1fr 1fr 1fr;
    }
    #wrap .gift_bg .gift .details li .photo img {transform:translateY(-90px)}
    #wrap .gift_bg .gift .txt {text-align:center;}
    #wrap .gift_bg .gift .title h1 {font-size:3.44rem;}
    #wrap .gift_bg .gift .details li {font-size:1.25rem;}
    /* ============10행 */
    #wrap .bottom {padding:100px 335px;}
    #wrap .bottom p {font-size:1.25rem;}
    #wrap .bottom p span {font-size:3.13rem;}
} /* 1250~max *